body {
  background-color: #57466E;
}
.wrap{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 1fr 25%;
  gap: 1px 1px;
}
.login-box{
  grid-column: 2/3;
  grid-row: 2;
  margin: auto;
  background-color: #f8f8f8;
  width: 25%;
  min-width: 280px;
  padding: 15px;
  -webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
}
.login-container{
  text-align: center;
}
.login-phrase{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500px;
  text-transform: uppercase;
}
.login-input{
  border: 2px solid #3498db;
  display: inline-block;
  border-radius: 24px;
  height: 20px;
  margin-top: 15px;
  padding: 8px 14px;
  font-size: 16px;
  transition: 0.25s;
  min-width: 170px;
  max-width: 250px;
  width: 170px;
}
.login-input.submit,.login-input.user{
  height: 100%;
  min-width: 150px;
  width: 180px;
  border: 2px solid #ff5e57;
  background-color: inherit;
  cursor:pointer;
  font-weight: 500;
  transition: 0.25s;
}
.login-input.submit:hover,.login-input.user:hover{
  background-color:#ff5e57 ;
  color: white;
  width: 190px;
}
.login-input.submit.back{
  margin-top: 50px;
  background-color:#ff5e57 ;
  color: white;
}
.login-input:focus{
  outline: none;
}
.login-input.user{
  margin-top: 35px;
  padding: 15px;
}
.login-input.UID:focus,.login-input.UPW:focus{
  border: 2px solid #ff5e57;
  width: 190px;
}

@media (max-width: 710px){
  .login-box{
    grid-column: 2/3;
    margin: auto;
  }
}